<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jay.locality">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".LocalityApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/NoTitleBar">
        <activity android:name=".SplashActivity"
                  android:theme="@style/NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".onboarding.activity.RegisterActivity"/>
        <activity android:name=".onboarding.activity.LoginActivity"/>
        <activity android:name=".MainActivity"/>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="3c86c870521c36d88a0eb7dbde42d8aeedc3e0e8"
        />
    </application>

</manifest>